<div class="sub-nav">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <a <% if (active === 'ui') { %>class="active"<% } %> href="/ui.html">User Interface</a>
        <a <% if (active === 'packages') { %>class="active"<% } %> href="/packages.html">Packages</a>

        <hr />

        <a <% if (active === 'components') { %>class="active"<% } %> href="/components.html">Components</a>
        <a <% if (active === 'views') { %>class="active"<% } %> href="/views.html">Views</a>

        <hr />

        <span class="core">
          <a <% if (active === 'animations') { %>class="active"<% } %> href="/docs-animations.html">Animations</a>
          <a <% if (active === 'themes') { %>class="active"<% } %> href="/docs-themes.html">Themes</a>
          <!-- <a <% if (active === 'viewlists') { %>class="active"<% } %> href="/docs-viewlists.html">ViewLists</a> -->
          <a <% if (active === 'builds') { %>class="active"<% } %> href="/docs-builds.html">Building &amp; Cordova</a>
        </span>
      </nav>
    </div>
  </div>
</div>