<div class="sub-nav">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <a <% if (active === 'modules') { %>class="active"<% } %> href="/modules">Modules</a>
        <a <% if (active === 'components') { %>class="active"<% } %> href="/components">Components</a>
        <a <% if (active === 'views') { %>class="active"<% } %> href="/views">Views</a>
      </nav>
    </div>
  </div>
</div>