<div class="sub-nav">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <a href="/modules.html">Modules</a>
        <a href="/components.html">Components</a>
        <a href="/views.html">Views</a>
      </nav>
    </div>
  </div>
</div>