<div class="sub-nav">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <a <% if (active === 'modules') { %>class="active"<% } %> href="/modules.html">Modules</a>
        <a <% if (active === 'components') { %>class="active"<% } %> href="/components.html">Components</a>
        <a <% if (active === 'views') { %>class="active"<% } %> href="/views.html">Views</a>
      </nav>
    </div>
  </div>
</div>