<div class="sub-nav">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <a href="/start.html">Get Started</a>
        <a href="/ui.html">UI Kit</a>
        <a href="/modules.html">Modules</a>
      </nav>
    </div>
  </div>
</div>