<header class="header">
  <div class="row center-xs start-md">
    <h1 class="logo"><a href="/">Reapp</a></h1>

    <nav class="nav">
      <a <% if (active === 'start') { %>class="active"<% } %> href="/start.html">Get Started</a>
      <a <% if (active === 'docs') { %>class="active"<% } %> href="/ui.html">Doc<span class="hide-sm">s</span><span class="hide-xs show-sm">umentation</span></a>
      <a <% if (active === 'blog') { %>class="active"<% } %> href="/blog">Blog</a>
    </nav>

    <nav class="nav right hide-xs">
      <a href="https://twitter.com/reapp">Twitter</a>
      <a href="https://github.com/reapp/reapp" target="_blank">
        Github
      </a>
    </nav>
  </div>
</header>