<a id="github" class="hide-md hide-sm" href="https://github.com/reapp/reapp" target="_blank">
  Star on Github
</a>

<header class="header">
  <div class="row">
    <h1 class="logo"><a href="/">Reapp</a></h1>

    <nav class="nav">
      <a href="/start.html">Getting Started</a>
      <a href="/docs.html">Documentation</a>
      <a href="<%= url_for('blog') %>">Blog</a>
    </nav>

    <nav class="nav right">
      <a href="https://twitter.com/reapp">@reapp</a>
    </nav>
  </div>
</header>