<a id="github" class="hide-md hide-sm" href="https://github.com/reapp/reapp" target="_blank">
  Star on Github
</a>

<header class="header">
  <div class="row center-sm start-md">
    <h1 class="logo"><a href="/">Reapp</a></h1>

    <nav class="nav">
      <a <% if (active === 'start') { %>class="active"<% } %> href="/start.html">Get Started</a>
      <a <% if (active === 'docs') { %>class="active"<% } %> href="/modules.html">Documentation</a>
      <a <% if (active === 'blog') { %>class="active"<% } %> href="/blog">Blog</a>
    </nav>

    <nav class="nav right">
      <a href="https://twitter.com/reapp">@reapp</a>
    </nav>
  </div>
</header>