.page {
  background: #fff;
  padding: 1rem 0 8rem;
  color: #222;
}
.page a {
  color: #368fc1;
}
.page a:hover {
  color: #73bdeb;
}
.page p,
.page ul,
.page code {
  color: #555;
}
.page em {
  color: #777;
}
.page.blog {
  padding-top: 3rem;
}
.article-entry p:first-child {
  font-size: 24px;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}
