.home {
  #github {
    display: none;
  }

  .header {
    background: none;
    position: relative;
    margin: 0;
    z-index: 10;

    .nav.right {
      display: none;
    }

    .logo {
      visibility: hidden;
    }
  }
}

#hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 820px;
  z-index: 0;
}


.hero {
  padding: 0;
  border: none;
}

.hero-second {
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
}

.hero h2 {
  font-size: 2.9rem;
  margin: 0 0 1rem 0;
  font-weight: normal;
  opacity: 1;
}

.hero p {
  font-size: 2rem;
  line-height: 1.7em;
  margin-bottom: 1rem;
  padding-right: 2rem;
  opacity: 0.8;
  color: #fff;
}

.hero p span {
  font-size: 16px;
  color: yellow;
  line-height: 1.2rem;
}

.install {
  padding: 1.5rem 0;
  margin: 0 0 2rem 0;
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace;
  line-height: 2.2rem;
}

.install .extra-line {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  opacity: 0;
  transition: all 100ms ease-in;
  opacity: 0.4;
}

.hero-second, .hero-first {
  position: relative;
  padding: 0;
  z-index: 3;
}

.screen {
  box-shadow: 0 0 80px rgba(0,0,0,0.1);
  margin: -20px 0 0 20px;
  overflow: hidden;
  background: #fff;
  height: 625px;
  width: 355px;
  border: none;
  background: #eee;
}

.signup {
  display: none;
}

.signup input {
  min-width: 180px;
  font-size: 20px;
  padding: .5rem;
  border: 1px solid #ccc;
  opacity: 0.7;
  transition: opacity 300ms ease-in;
}

.signup input:focus {
  opacity: 1;
}

.signup button {
  min-width: 100px;
  background: rgba(0,0,0,0.4);
  border: none;
  color: #fff;
  margin: 1px 0;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0 1rem;
  height: 2.8rem;
}

#email {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 10px;
}

.features {
  margin: 1rem auto 3rem;
}

.feature {
  padding: 1rem 2rem;
  text-align: center;
}

.feature h4 {
  font-weight: bold;
}

.feature a {
  padding: .5rem;
  border-radius: 3px;
  transition: all .2s ease-in;
}

.feature a:hover {
  background: rgba(255,255,255,0.1);
}

.feature p {
  opacity: 0.8;
  margin-bottom: 0;
}

.tryit {
  width: 134px;
  height: 88px;
  background: url(/images/tryit.png) no-repeat;
  background-size: 134px 84px;
  text-indent: 100%;
  white-space: nowrap;
  position: absolute;
  top: 40px;
  left: 400px;
  overflow: hidden;
  -webkit-transform: rotateZ(8deg);
  transform: rotateZ(8deg);
}

.toggle {
  position: absolute;
  top: 260px;
  left: 370px;
  z-index: 10;
}

.toggle button {
  background: rgba(0,0,0,0.2);
  color: rgba(255,255,255,0.5);
  padding: 1rem 2rem;
  border: none;
  display: block;
  width: 100%;
  font-size: 18px;
  margin-bottom: 1px;
}

.toggle button:focus {
  color: white;
}

@media only screen and (min-width: 48em) {
  .intro {
    padding-right: 6rem;
  }

  .hero-first {
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 62em) {
  .buttons, #logo {
    margin-left: auto;
    margin-right: auto;
  }
}

#github {
  display: block;
  position: absolute;
  top: 50px;
  right: -50px;
  z-index: 1000;
  padding: 0 1em;
  width: 15em;
  text-align: center;
  background-color: #000;
  text-transform: uppercase;
  font-size: .7em;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: background-color .2s;
}

#github:hover {
  background: rgba(0,0,0,0.5);
}


.highlight {
  position: relative;
  box-shadow: 0 0 120px rgba(0,0,0,0.15);
}

.highlight h4 {
  opacity: 1;
  color: #fff;
}

.highlight::before {
  content: ' ';
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/images/lines.svg);
  opacity: .02;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
