.page {
  background: #fff;
  padding: 1rem 0;
  color: #222;
}

.page a {
  color: #368fc1;
}

.page a:hover {
  color: #73bdeb;
}

.page p, .page ul, .page code {
  color: #555;
  font-size: 1.2rem;
  line-height: 2rem;
}

.page code {
  font-size: 1rem;
}

.page p, .page h3, .page h4, .page pre {
  margin-bottom: 0.5rem;
}

.page em {
  color: #777;
}
