<div id="demos" class="section has-title">
  <div class="row">
    <h2 class="section-title">Try it out</h2>

    <div class="col col-xs-12 col-sm-6 col-md-4 pad">
      <iframe id="iframe" class="screen small" src="http://kitchen.reapp.io/photos#emulateTouch"></iframe>
    </div>

    <div class="col col-xs-12 col-sm-6 col-md-4 pad">
      <iframe id="iframe" class="screen small" src="http://kitchen.reapp.io/photos#emulateTouch"></iframe>
    </div>

    <div class="col col-xs-12 col-sm-6 col-md-4 pad">
      <iframe id="iframe" class="screen small" src="http://kitchen.reapp.io/photos#emulateTouch"></iframe>
    </div>
    </div>
  </div>
</div>