<%- partial('_partial/header') %>

<div class="page blog">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <%- partial('_partial/archive', {pagination: true, index: true}) %>
    </div>
  </div>
</div>