<%- partial('_partial/header') %>

<div class="page">
  <div class="row">
    <div class="col-xs-12">
      <% site.posts.each(function(post, i){ %>
        <%- partial('_partial/archive-post', {post: post, index: i}) %>
      <% }) %>
    </div>
  </div>
</div>