<%- partial('_partial/header', { active: 'docs' }) %>
<%- partial('_partial/docs_nav', { active: page.title }) %>

<div class="page">
  <div class="row">
    <div id="nav" class="col-xs-12 col-md-5">
      <!-- nav.js will generate this -->
    </div>

    <div class="col-xs-12 col-md-7 first-xs pad-right">
      <% if (page.title === 'modules') { %>
      <h2>Github Repos</h2>
      <ul>
        <li>
          <a href="https://github.com/reapp/reapp-component">
            <b>reapp-component</b>
          </a> -
              A decorator and dependency injector
        </li>

        <li>
          <a href="https://github.com/reapp/reapp-ui">
            <b>reapp-pack</b>
          </a> -
              Generate &amp; run webpack configs
        </li>

        <li>
          <a href="https://github.com/reapp/reapp-platform">
            <b>reapp-platform</b>
          </a> -
              Some mixins and helpers for React apps
        </li>

        <li>
          <a href="https://github.com/reapp/reapp-reducer">
            <b>reapp-reducer</b>
          </a> -
              A tiny reducer for use with flux apps
        </li>

        <li>
          <a href="https://github.com/reapp/reapp-request">
            <b>reapp-request</b>
          </a> -
              Superagent + bluebird + promises
        </li>

        <li>
          <a href="https://github.com/reapp/reapp-routes">
            <b>reapp-routes</b>
          </a> -
              DRY route to require w/react-router
        </li>

        <li>
          <a href="https://github.com/reapp/reapp-server">
            <b>reapp-server</b>
          </a> -
              Express assets for Reapp-structured apps
        </li>

        <li>
          <a href="https://github.com/reapp/reapp-object-assign">
            <b>reapp-object-assign</b>
          </a> -
              A polyfill, for Object.assign
        </li>
      </ul>
      <% } %>

      <%- page.content %>
    </div>
  </div>
</div>

<script src="/js/nav.js"></script>