<%- partial('_partial/header', { active: 'docs' }) %>
<%- partial('_partial/docs_nav', { active: page.title }) %>

<div class="page">
  <div class="row">
    <div id="nav" class="col-xs-12 col-md-5">
      <!-- nav.js will generate this -->
    </div>

    <div class="col-xs-12 col-md-7 first-xs pad-right">
      <%- page.content %>
    </div>
  </div>
</div>

<script src="/js/nav.js"></script>
