<div id="step-1" class="section">
  <div class="spiro"></div>
  <div class="row hero">
    <div class="hero-first pad center-xs start-md col-sm-12 col-md-6">
      <h1 class="logo">
        <a href="/">reapp</a>
        <img id="mark" src="images/mark.svg" />
      </h1>

      <p>
        Reapp is a new way to build apps
        with React and JavaScript.
      </p>

      <div class="home">
        <%- partial('_partial/header', { active: false }) %>
      </div>

      <div class="install code">
        <div class="first">
          npm install -g reapp
        </div>
        <div class="extra-line">
          reapp new app
        </div>
        <div class="extra-line">
          cd app && reapp run
        </div>
      </div>

      <div class="row justify-right">
        <div class="buttons">
          <a class="github icon-mini" href="https://github.com/reapp/reapp" target="_blank">Github</a>
          <a class="twitter icon-mini" href="https://twitter.com/reapp" target="_blank">Twitter</a>
        </div>
      </div>
    </div>

    <div class="hero-second hide-xs hide-sm col-md-6">
      <div class="phone">
        <iframe id="iframe" class="screen" src="http://kitchen.reapp.io/#demo:emulateTouch"></iframe>
      </div>

      <div class="toggle">
        <button id="kitchenButton" onclick="setIframe('kitchen');">
          Kitchen Sink
        </button>

        <button onclick="setIframe('hn');">
          Hacker News
        </button>
      </div>

      <script type="text/javascript">
        window.onload = function() {
          document.getElementById('kitchenButton').focus();
        }

        function setIframe(sub) {
          document.getElementById('iframe').setAttribute('src', 'http://'+sub+'.reapp.io/#demo:emulateTouch');
        }
      </script>

      <div class="tryit">
        Try it live
      </div>
    </div>
  </div>
</div>

<div class="section hide-sm hide-md hide-lg">
  <div class="row">
    <div class="col-xs-12 pad">
      <a class="button" href="http://kitchen.reapp.io">Kitchen Sink Demo</a>
      <a class="button" href="http://hn.reapp.io">Hacker News Demo</a>

      <span class="note">
        Demos run best when saved to homescreen so swipes work correctly.
      </span>
    </div>
  </div>
</div>

<div id="what-is-it" class="motto section row-features">
  <div class="row">
    <div class="feature col-xs-12 col-sm-8">
      <div class="secondary hide-xs show-md">
        <img class="icon logo" src="/images/react-logo.svg" />
      </div>
      <div class="main pad-right">
        <h3>React UI Kit</h3>
        <p>
          A set of components for beautiful interfaces
          on any platform. Optimized for mobile and fully customizable.
        </p>

        <img class="example hide-xs show-md" src="/images/screen-components.png" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="feature col-xs-12 col-sm-8 col-sm-offset-4">
      <div class="main">
        <h3>Modules</h3>
        <p>
          Everything you need to build apps from day one, from animations
          to routing, requests to data management.
        </p>

        <pre class="code-example hide-xs show-md">
          <code>import Component from 'reapp-component';
import Request from 'reapp-request';
import reducer from 'reapp-reducer';
import UI from 'reapp-ui';</code>
        </pre>
      </div>
      <div class="secondary hide-xs show-md">
        <img class="icon logo" src="/images/npm-logo.svg" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="feature col-xs-12 col-sm-8">
      <div class="secondary hide-xs show-md">
        <img class="icon logo" src="/images/webpack.svg" />
      </div>
      <div class="main">
        <h3>Webpack Build System</h3>
        <p>
          Spend no time configuring your builds. The future today with
          <a href="https://webpack.github.io">Webpack</a> and
          <a href="https://babeljs.io">Babel</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="row lesser">
    <div class="feature col-xs-12 col-sm-8 col-sm-offset-4">
      <div class="main">
        <h3>Command Line Interface</h3>
        <p>
          Create, edit apps without refreshing, build them to the web or Cordova.
        </p>
      </div>
      <div class="secondary hide-xs show-md">
        <img class="icon logo" src="/images/commandline.svg" />
      </div>
    </div>
  </div>
</div>

<div id="ui-kit" class="section has-title center-titles">
  <div class="row">
    <h2 class="section-title">User Interface</h2>

    <div class="col col-xs-12 col-sm-8 col-sm-offset-2 emphasize lighten center-xs">
      <p>
        The Reapp user interface is the most powerful around.
        Customize every piece of it from colors to styles.
        Add custom animations, or change our ours entirely.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="feature col-xs-12 col-md-4">
      <img class="icon" src="/images/icons/radar.svg" />
      <h4>Animations</h4>
      <p>
        Dynamic &amp; fully interactive JavaScript-powered animations.
      </p>
    </div>

    <div class="feature col-xs-12 col-md-4">
      <img class="icon" src="/images/icons/connections.svg" />
      <h4>Styles</h4>
      <p>
        JavaScript + Flexbox. Composable, dynamic, with a declarative interface.
      </p>
    </div>

    <div class="feature col-xs-12 col-md-4">
      <img class="icon" src="/images/icons/color.svg" />
      <h4>Themes</h4>
      <p>
        Constants, styles and animations. Mix and match them all to make
        your theme.
      </p>
    </div>

    <div class="feature col-xs-12 col-md-4">
      <img class="icon" src="/images/icons/layers.svg" />
      <h4>Views</h4>
      <p>
        Views, ViewLists, even nested ViewLists.
        Build your own!
      </p>
    </div>

    <div class="feature col-xs-12 col-md-4">
      <img class="icon" src="/images/icons/boxes.svg" />
      <h4>Components</h4>
      <p>
        Load individually for optimal load &amp; build times.
      </p>
    </div>

    <div class="feature col-xs-12 col-md-4">
      <img class="icon" src="/images/icons/centralized.svg" />
      <h4>Mixins</h4>
      <p>
        Use all our animation and styling mixins externally.
      </p>
    </div>
  </div>
</div>

<div class="section has-title">
  <div class="row hide-xs">
    <h2 class="section-title">Compare</h2>
    <div class="col-xs-12">
      <table class="center">
        <thead>
          <tr>
            <th width="20%"></th>
            <th class="bold" width="20%">Reapp</th>
            <th width="20%">Ionic</th>
            <th width="20%">Touchstone</th>
            <th width="20%">Supersonic</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="category">Platform</td>
            <td class="bold">React</td>
            <td>Angular</td>
            <td>React</td>
            <td>Angular</td>
          </tr>

          <tr>
            <td class="category">CLI</td>
            <td class="bold winner">✓</td>
            <td class="winner">✓</td>
            <td class="loser">✘</td>
            <td class="winner">✓</td>
          </tr>

          <tr>
            <td class="category">Build System</td>
            <td class="bold winner">Webpack</td>
            <td>Gulp</td>
            <td>Gulp</td>
            <td class="loser">✘</td>
          </tr>

          <tr>
            <td class="category">Hot Reload</td>
            <td class="bold winner">✓</td>
            <td class="loser">✘</td>
            <td class="loser">✘</td>
            <td class="loser">✘</td>
          </tr>

          <tr>
            <td class="category">Themes</td>
            <td class="bold winner">Customizable JS</td>
            <td>CSS</td>
            <td>CSS</td>
            <td>CSS</td>
          </tr>

          <tr>
            <td class="category">Layout</td>
            <td class="bold winner">Flexbox</td>
            <td>Block</td>
            <td class="winner">Flexbox</td>
            <td>Block</td>
          </tr>

          <tr>
            <td class="category">Icons</td>
            <td class="bold winner">SVG</td>
            <td>Icon Font</td>
            <td>Icon Font</td>
            <td>Icon Font</td>
          </tr>

          <tr class="sub-category">
            <td></td>
            <td>Animations</td>
            <td>Animations</td>
            <td>Animations</td>
            <td>Animations</td>
          </tr>

          <tr>
            <td class="category">Language</td>
            <td class="bold winner">JS</td>
            <td>CSS</td>
            <td>CSS</td>
            <td>Obj-C / Java / CSS</td>
          </tr>

          <tr>
            <td class="category">Interactive</td>
            <td class="bold winner">✓</td>
            <td class="loser">✘</td>
            <td class="loser">✘</td>
            <td class="winner">✓</td>
          </tr>

          <tr>
            <td class="category">Customizable</td>
            <td class="bold winner">✓</td>
            <td class="loser">✘</td>
            <td class="loser">✘</td>
            <td class="loser">✘</td>
          </tr>

          <tr class="sub-category">
            <td></td>
            <td>Views</td>
            <td>Views</td>
            <td>Views</td>
            <td>Views</td>
          </tr>

          <tr>
            <td class="category">Interactive</td>
            <td class="bold winner">✓</td>
            <td class="loser">✘</td>
            <td class="loser">✘</td>
            <td class="winner">✓</td>
          </tr>

          <tr>
            <td class="category">Customizable</td>
            <td class="bold winner">✓</td>
            <td class="loser">✘</td>
            <td class="loser">✘</td>
            <td class="loser">✘</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="examples" class="section has-title emphasize hide-xs">
  <div class="row">
    <h2 class="section-title bg-green">Example</h2>

    <div class="col-xs-12 col-sm-6">
      <pre class="highlight"><code>import React from 'react';
import { NestedViewList, View, List } from 'reapp-ui/all';

export default React.createClass({
  render() {
    return
      &lt;NestedViewList&gt;
        &lt;View title="Hot Articles"&gt;
          &lt;List wrap&gt;
            {articlesArray.map(a =&gt; a.title)}
          &lt;/List&gt;
        &lt;/View&gt;

        &lt;View title="Other"&gt;
          &lt;p&gt;Second view contents&lt;/p&gt;
        &lt;/View&gt;
      &lt;/ViewList&gt;
  }
});</code></pre>
    </div>

    <div class="col-xs-12 col-sm-6 pad">
      <p>
        ViewLists handle Views from animation to interaction.
      </p>

      <p>
        The NestedViewList uses a parallax animation and
        allows you to swipe sideways between views.
      </p>

      <p>
        Reapp has NestedViewList and DottedViewList, but you
        change them on the fly just by updating props.
      </p>

      <p>
        Lists will automatically handle arrays of items when you
        use the wrap prop.
      </p>

      <a class="button" href="/docs.html">See more components</a>
    </div>
  </div>
</div>

<div class="section has-title center-titles">
  <div class="row">
    <h2 class="section-title bg-orange">What else?</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 emphasize lighten center-xs">
        <p>
          Simple and helpful modules that get your running fast.<br />
          Once generated, mix and match them as you like.
        </p>
      </div>
    </div>

    <div class="feature col-xs-12 col-md-3">
      <a href="https://github.com/reapp/reapp-component">
        <h4>reapp-component</h4>
        <p>
          A decorator and dependency injector
        </p>
      </a>
    </div>

    <div class="feature col-xs-12 col-md-3">
      <a href="https://github.com/reapp/reapp-ui">
        <h4>reapp-pack</h4>
        <p>
          Generate &amp; run webpack configs
        </p>
      </a>
    </div>

    <div class="feature col-xs-12 col-md-3">
      <a href="https://github.com/reapp/reapp-platform">
        <h4>reapp-platform</h4>
        <p>
          Some mixins and helpers for React apps
        </p>
      </a>
    </div>

    <div class="feature col-xs-12 col-md-3">
      <a href="https://github.com/reapp/reapp-reducer">
        <h4>reapp-reducer</h4>
        <p>
          A tiny reducer for use with flux apps
        </p>
      </a>
    </div>

    <div class="feature col-xs-12 col-md-3">
      <a href="https://github.com/reapp/reapp-request">
        <h4>reapp-request</h4>
        <p>
          Superagent + bluebird + promises
        </p>
      </a>
    </div>

    <div class="feature col-xs-12 col-md-3">
      <a href="https://github.com/reapp/reapp-routes">
        <h4>reapp-routes</h4>
        <p>
          DRY route to require w/react-router
        </p>
      </a>
    </div>

    <div class="feature col-xs-12 col-md-3">
      <a href="https://github.com/reapp/reapp-server">
        <h4>reapp-server</h4>
        <p>
          Express assets for Reapp-structured apps
        </p>
      </a>
    </div>

    <div class="feature col-xs-12 col-md-3">
      <a href="https://github.com/reapp/reapp-object-assign">
        <h4>reapp-object-assign</h4>
        <p>
          A polyfill, for Object.assign
        </p>
      </a>
    </div>
  </div>
</div>

<div class="section has-title">
  <div class="row">
    <h2 id="faq" class="section-title bg-red">FAQ</h2>
    <div class="pad-top col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
      <strong>Can I run it on Cordova?</strong>
      <p>Yep, for now with just an iOS theme. If you run "reapp build ios" you'll have a Cordova-ready
      app in seconds.</p>

      <strong>Will it run on Android?</strong>
      <p>Yes. And it's completely themable. Look out for our own Material UI theme coming out too,
      that you can swap in with one line of code once it's ready.</p>

      <strong>Will it run my mobile website?</strong>
      <p>Yes. With the same codebase. Just run "reapp build" and you have an entire website
      in seconds, ready to deploy.</p>

      <strong>Do you have example apps?</strong>
      <p>
        Check out our <a href="https://github.com/reapp/hacker-news-app">Hacker News app source code</a>
        for an example of an app with Flux and Immutable Data. And our
        <a href="https://github.com/reapp/kitchen-sink">Kitchen Sink source code</a> has examples of
        using every type of component.
      </p>

      <strong>How does it compare to Ionic?</strong>
      <p>
        Reapp runs on React. That means you get faster performance than Angular and simple, delcarative code.
        It also runs on Webpack, giving you new JavaScript features
        in ES6 that are awesome and other features like live-reloading your app as you edit,
        without losing state.
      </p>

      <p>Reapp aims to <em>feel</em> more Native than any other platform. With the new speed
      of React we get close, and our support for interactive animation is key which Ionic doesn't support.</p>

      <strong>What about React Native?</strong>
      <p>
        React Native will be awesome. But you still need lots of work to make an app for all three
        platforms with it, and you'll need to know Objective-C and Java if you ever go outside
        of the React Native sandbox.
      </p>

      <p>Reapp's approach has unique advantages:</p>
      <ul>
        <li>Deploy to all platforms with one codebase</li>
        <li>Develop without simulators</li>
        <li>Debug with Chrome, live edit your DOM</li>
        <li>Use the <em>same</em> codebase for your mobile website</li>
        <li>Hot reload on save without losing state</li>
        <li>Works with all of npm, no questions asked</li>
      </ul>

      <strong>Could I use it with React Native?</strong>
      <p>Yes. You could get the benefit of both worlds once you're ready to gain extra
      performance. But in many cases you don't need to!</p>
    </div>
  </div>
</div>

<div class="section has-title">
  <div class="row">
    <h2 class="section-title bg-red">Why?</h2>
    <div class="col-xs-12 col-md-6">
      <blockquote>
        A new stack, designed for software instead of documents, is needed.

        <footer><a href="https://news.ycombinator.com/item?id=8815465">@lkrubner</a></footer>
      </blockquote>
    </div>

    <div class="col-xs-12 col-md-6">
      <blockquote>
        having everybody in need of transportation buy the necessary spareparts to build a car is insane.

        <footer><a href="https://news.ycombinator.com/item?id=4407567">@jballanc</a></footer>
      </blockquote>
    </div>

    <div class="pad-top col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 emphasize lighten">
      <p>
        React enables incredible boosts of both productivity and performance.
        It's declarative components with lifecycles are the future of making apps.
      </p>

      <p>
        JavaScript has grown up as well.
        We have amazing build tools that bring us new features.
        <a href="http://webpack.github.io">Webpack</a> and
        <a href="http://6to5.org">6to5</a> give you ES6/7, JSX and more.
        With <a href="http://gaearon.github.io/react-hot-loader/">react-hot-loader</a> you have insanely fast development.
      </p>

      <p>
        We want to get you running without locking you into a framework.
        So we built a simple CLI that bootstraps you in minutes.
        It even runs your server and builds out of the box.
      </p>

      <p>
        Enjoy flexibility without needing all the glue.
        We're making hybrid apps, fast.
      </p>
    </div>
  </div>
</div>

<!-- bb -->
