<%- partial('_partial/header', null, {cache: !config.relative_link}) %>

<div class="page">
  <div class="row">
    <div id="nav" class="col-xs-12 col-md-5">
    </div>

    <div class="col-xs-12 col-md-7 first-xs pad-right">
      <h2><%= page.title %></h2>
      <%- page.content %>
    </div>
  </div>
</div>

<script src="/js/nav.js"></script>