<%- partial('_partial/header', { active: 'blog' }) %>

<div class="page blog">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <%- partial('_partial/article', {post: page, index: false}) %>
    </div>
  </div>
</div>